$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$max-width: 1100px;

// Set text color based on background
@function set-text-color($color) {
    // If background is too light return dark else return light
    @if(lightness($color) > 60) {
        @return #333;
    } @else {
        @return #fff;
    }
}

// Set Background & text color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
    // All around Margin
    .m-#{$space} {
        margin: #{$space}rem;
    }

    // Vertical Margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    // Vertical Padding
    .p-#{$space} {
        padding: #{$space}rem 0;
    }

    // Vertical Padding
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}